/*css menu*/
.hover_menu{
    -fx-text-fill: white;
}
.hove_border:hover{
    -fx-border-color:   #196bac;
    -fx-border-width: 0px 0px 0px 10px ;
    -fx-background-color: #03a9f4;
    
}
.hover_buttonclose:hover{
    -fx-background-color: #e81123;
}

/*button style*/
.btn{
    -fx-text-fill: #fff;
    -fx-border-style: solid;
    -fx-border-width: 1;
    -fx-border-radius: 5;
}
.btn-primary{
    -fx-background-color: #007bff;
    -fx-border-color: #007bff;
}
.btn-primary:hover{
    -fx-background-color: #0069d9;
    -fx-border-color: #0062cc;
}
.btn-danger{
    -fx-background-color:#dc3545;
    -fx-border-color:#dc3545;
}
.btn-danger:hover{
    -fx-background-color:#c82333;
    -fx-border-color:#bd2130;
}
.btn-success{
    -fx-background-color:#28a745;
    -fx-border-color:#28a745;
}
.btn-success:hover{
    -fx-background-color:#218838;
    -fx-border-color:#1e7e34;
}
.btn-info{
    -fx-background-color:#17a2b8;
    -fx-border-color:#17a2b8;
}
.btn-info:hover{
    -fx-background-color:#138496;
    -fx-border-color:#117a8b;
}

/*jfx-tab-pane style*/
.jfx-tab-pane .headers-region {
    -fx-background-color: #1b75bc;
}
.jfx-tab-pane .tab-header-background {
    -fx-background-color: #1b75bc;
}
.jfx-tab-pane .tab-selected-line {
    -fx-stroke: #75bc1b;
    -fx-stroke-width: 3pt;
}